  .back-btn{
    width: 80px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .fruit-details {
    background: linear-gradient(145deg, #d6b0ff, #afe9ff);
    padding-left: 40px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    font-size: 3rem;
    padding-left: 4rem;
  }
  p{
    font-size: 1.6rem;
    padding-left: 4rem;
  }
  